/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Source+Sans+3&display=swap');
/* Font Family */

/* Selects the whole page and colors the text */
*{
  color: RGB(240, 214, 187);
}

/* Sets the Icon */
.icon{
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  max-width: 100%;
  height: 4rem;/
}

/* Styles the header */
header{
  display: flex;
  justify-content: center;
}

/* Selects the body tag and applies padding, margin and bg color */
body{
  padding: 1rem;
  margin: 10px;
  background-color: RGB(53, 53, 53) ;
}

/* Selects the h-tags and applies font and aligns the text to center */
h1, .title, .subtitle{
  font-family: 'Playfair Display', serif;
  text-align: center;
  letter-spacing: large;
  padding-left: 4em;
}

/* Selects the child paragraphs and lists and applies font and font size */
p, ul, li{
  font-family: 'Source Sans 3', sans-serif;
  font-size: medium;
}
