/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Source+Sans+3&display=swap');
/* Font Family */

*{
  color: RGB(240, 214, 187);
}

body{
  padding: auto;
  margin: 10px;
  background-color: RGB(53, 53, 53) ;
}

h1, h2, h3{
  font-family: 'Playfair Display', serif;
  text-align: center;
}

p, ul, li{
  font-family: 'Source Sans 3', sans-serif;
  font-size: medium;
}